<div class="container-fluid">
    <h1>Hard & Soft Skills</h1>
    <div class="row">
        <div class="col-3" *ngFor = "let habilidad of habilidades">
            
            <h5> {{habilidad[0]}} </h5>
    <!--<div role="progressbar" aria-valuemin="0" aria-valuemax="100" style="--value:{{hab[1]}}"></div>-->
    <circle-progress
        [percent]="90"
        title="{{+habilidad[1]}}"
        [radius]="100"
        [titleFontSize]="'50px'"
        [unitsFontSize]="'50px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
        </div>
    </div>
</div>