.container-fluid {
    background-color: #3396FF;
}

#logoAP {
    width: 150px;
    height: auto;
    float: left;
}

img{
    width: 35px;
    margin: 5px;
    float: right;
}

#boton {
    margin: 5px;
    float: right;
}
