<div class="container-fluid">
    <img src="../../../assets/banner.jfif" id="banner">    
    <div id="contenedor">
        <img src="../../../assets/perfil.jpeg" id="perfil">
    </div>
    <div class="row" id="nombre">
        <div class="col-4">
            <h1>Pipe</h1>
            <h5>Full Stack Developer Jr</h5>
        </div>
        <div class="col-8">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat corrupti doloribus, non cumque similique illum ab quod odit placeat provident in, quis debitis, alias laudantium quia velit a assumenda quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio ducimus veritatis impedit animi, sapiente cumque, natus soluta nemo minus in nulla et aliquid tempora iste? Quas atque molestias repellat blanditiis.</p>
        </div>
    </div>
</div>